body {
    background-image: url(../images/IMG_20190930_180447.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    
}
.text-center {
    color:aqua;
    text-shadow: 4px 2px #000000;
}
.but-resv {
    text-align : center;
}