@model  IEnumerable<GuessResponse>
@{
    Layout = null;
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Участники</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
    <body>
        <div class="panel-body">
            <table class="table table-sm table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (WebApplicationTestCore.Models.GuessResponse gr in Model)
                    {
                        <tr>
                            <td>@gr.Name</td>
                            <td>@gr.Email</td>
                            <td>@gr.Phone</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </body>
</html>