@{
    Layout = null;
}

 <!DOCTYPE html>
 <html xmlns="http://www.w3.org/1999/xhtml">
 <link rel="stylesheet" href="~/css/site.css" />
 <head>
       <title>Remote Admin</title>
       <div class="button_off">
           <button type ="button">OFF</button>
       </div>
 </head>
 <body>
 </body>
 </html>
