@model IEnumerable<string>
@{
    Layout = null;
}

 <!DOCTYPE html>
 <html xmlns="http://www.w3.org/1999/xhtml">
 <link rel="stylesheet" href="~/css/site.css" />
 <head>
     <title>Remote Admin</title>
 </head>
    <!--Header here  -->
     <header class="card-header">
         <div class="container">
            <div class="nav">
                <h3 class="logo">Remote Admin</h3>
                <ul class="menu">
                    <li><a href="#">up</a></li>
                    <li><a href="#">up</a></li>
                    <li><a href="#">up</a></li>
                    <li><a href="#">up</a></li>
                </ul>
            </div>
         </div>
     </header>
     <!--Header here  -->


     <section class="about">
        <form action="Index" method="post">
             <p>
                 <div class="button_off">
                     <button type="submit">ADD to BASE</button>
                </div>
                 <div class="scan">
                     <button type="submit">Scan</button>
                </div>
             </p>
        </form>
     </section>



     <footer>
         <div class="footer">
         </div>
     </footer>
 <body>
 </body>
 </html>
