@model IEnumerable<string>
@{
    Layout = null;
}

 <!DOCTYPE html>
 <html xmlns="http://www.w3.org/1999/xhtml">
 <link rel="stylesheet" href="~/css/site.css" />
 <head>
     <title>Remote Admin</title>
 </head>
<!--header-->

 <header class="header">
     <div class="container">
         
         <div class="nav_wrapper">
             <div class="logo">
                <h1><span>Hackers</span> Remote Admin Panel</h1>
             </div>
             <div class="nav">
                 <a href="Passwords">Чекни Мыло на взлом</a>
                 <a href="#">Доснуть школу</a>
                 <a href="#">Прокачаться в сетях</a>
                 <a href="#">Запустить ракету</a>
             </div>
         </div>

         <div class="get_pass">
             <h3 class="check_pass">Проверить эмейл на взлом из открытых баз данных</h3>
             <a asp-action="Passwords">Check</a>
         </div>

     </div>

 </header>
 <!--end header-->
 

 <section class="about">
   


 </section>
     



     
 <body>
 </body>
 </html>
