@model RemoteAdmin.Models.StolenPassword
@{
    Layout = null;
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link href="~/css/passwords.css" rel="stylesheet" />
    <title>Passwords null</title>
</head>
<body>
    <div class="header">
        <div class="container">
            <div class="password">
                <h1>Passwords</h1>
                <p>Пароль не найдет в базах данных</p>
                <p>Правда теперь мы его добавили</p>
            </div>
        </div>

    </div>

    <section class="about">
        <form asp-action="Passwords" method="post">
            <p>
                <label asp-for="Login">Логин чекай</label>
                <input asp-for="Login" />
            </p>
            <p>
                <label asp-for="Password">Введите пароль</label>
                <input asp-for="Password"/>
            </p>

            <button type="submit">CHECK</button>
        </form>

    </section>
</body>
</html>

