@model  IEnumerable<RemoteAdmin.Models.UserData>
@{
    Layout = null;
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>ShowPassword</title>
</head>
<body>
    <header class="header">
    <h1>Ваши Пароли прекрасны</h1>
        @foreach(RemoteAdmin.Models.UserData pass in Model)
        {
            @pass.Login;
            @pass.Password;
        }
    </header>
</body>
</html>

