@model  IEnumerable<Product>
@{
    Layout = null;
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Тут реклама</title>
    <link rel="stylesheet" href="~/css/First.css" />
    <link rel="stylesheet" href="~/css/Second.css" />
    <script src="~/js/Thirdjs.js"></script>
    <script src="~/js/fourth.js"></script>
</head>
<body>
    <table>
        <thead>
            <tr><td><b>Name</b></td><td><b>Price</b></td></tr>
        </thead>
        <h3>Продукты</h3>
        <tbody>
            @foreach(Product p in Model)
            {
                <tr><td>@p.Name</td><td>@($"{p.Price:c2}")</td></tr>
            }
               
        </tbody>
    </table>
</body>
</html>