@model IEnumerable<WorkingWithVisualStudioCreateArchitectureProject.Models.Product>
@{
    Layout = null;
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Тут реклама</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body class="panel-body">
    <table class="table table-bordered table-striped">
        <thead>
            <tr><td><b>Name</b></td><td><b>Price</b></td></tr>
        </thead>
        <h2 class="text-center">Продукты</h2>
        <tbody>
            @foreach (var p in Model)
            {
                <tr><td>@p.Name</td><td>@($"{p.Price:c2}")</td></tr>
            }

        </tbody>
    </table>
    <div class="text-center">
        <a class="btn btn-primary" asp-action="AddProduct">
            Add New Product
        </a>
    </div>
</body>
</html>